<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emotion Tracker</title>
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/css/uikit.min.css"
    />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.17.11/dist/js/uikit-icons.min.js"></script>
    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js"></script>
  </head>

  <body>
    <div class="uk-section">
      <div class="uk-container">
        <!-- prettier-ignore -->
        <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="" style="width: 100%">
          <div class="uk-navbar-left">
            <img src="/imgs/brain_icon.png" />

            <ul class="uk-navbar-nav">
              <% if (loggedin) { %>
              <li class="uk-active"><a href="/">Snapshots</a></li>
              <li class="uk-parent"><a href="#" onclick="navigateToAddPage()">Add</a></li>
              <li class="uk-active"><a href="/useradmin/accountadmin">Account Admin</a></li>
              <% } %>
            </ul>
          </div>
          <% if (!loggedin) { %>
          <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/useradmin/createaccount">Create Account</a></li>
            </ul>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/login">Login</a></li>
            </ul>
          </div>
          <% } else { %>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/logout">Logout</a></li>
            </ul>
          </div>
          <% } %>
        </nav>
      </div>
    </div>

    <div class="uk-section uk-background-muted">
      <!-- prettier-ignore -->
      <div class="uk-container">
        <% if (loggedin) { %>
        <% var updatedByValues = [];
           snapshot.forEach((row) => {
            if (!updatedByValues.includes(row.UPDATED_BY)) {
              updatedByValues.push(row.UPDATED_BY);
            }
          }); %>
        <% if (role == 'administrator' && snapshot && snapshot.length > 0 && updatedByValues.length > 0) { %>
          <span>User:</span>
          <select id="updatedByDropdown">
            <% updatedByValues.forEach((value) => { %>
              <option value="<%= value %>"><%= value %></option>
            <% }); %>
          </select>
          <h2 class="uk-heading-small uk-heading-line uk-text-center">
            <span id="usernameDisplay"> <%= `Emotion Snapshots for: ${updatedByValues[0]}`%> </span>
          </h2>
        <% } else { %>
            <h2 class="uk-heading-small uk-heading-line uk-text-center">
              <span id="usernameDisplay"> <%= `Emotion Snapshots for: ${user.name}`%> </span>
            </h2>
          <% } %>
      <% } else { %>
        <h2 class="uk-heading-small uk-heading-line uk-text-center">
          <span>My Emotion Tracker</span>
        </h2>
      <% } %>
    
        <% if (loggedin && snapshot && snapshot.length > 0) { %>
        <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
          <% const dateformat = { weekday:'long', year:'numeric', month:'long', day:'numeric', hour:'numeric', minute:'numeric', second:'numeric', hour12: false }; %>
          <% snapshot.forEach((row) => { %>
            <% var snapshotid = row.id; %>
            <div data-updated-by="<%= row.UPDATED_BY %>">
              <a href="/edit/<%= snapshotid %>" class="uk-display-block uk-card uk-card-body uk-card-default uk-link-toggle">
                <% var rawdate = new Date(row.UPDATE_DATE); %>
                <% var itemdate = new Intl.DateTimeFormat('en-GB', dateformat).format(rawdate); %>
                <h3 class="uk-card-title">
                  <span class="uk-link-heading"><%= itemdate %></span>
                </h3>
                <canvas id="chartId-<%= snapshotid %>" aria-label="chart" height="90" width="150"></canvas>
                <%= row.items %>
              </a>
            </div>
          <% }); %>
        </div>
        <% } else if (loggedin) { %>
        <p>No snapshots available.</p>
        <% } %>
      </div>
    </div>
    <!-- prettier-ignore -->
    <script>
      <% if (typeof snapshot !== 'undefined' && Array.isArray(snapshot) && snapshot.length > 0) { %>
        <% snapshot.forEach((row) => { %>
          var chrt_<%= row.id %> = document.getElementById("chartId-<%= row.id %>").getContext("2d");

          var initialData_<%= row.id %> = [
            <%= row.level_anger %>,
            <%= row.level_contempt %>,
            <%= row.level_disgust %>,
            <%= row.level_enjoyment %>,
            <%= row.level_fear %>,
            <%= row.level_sadness %>,
            <%= row.level_surprise %>,
          ];

          var chartId_<%= row.id %> = new Chart(chrt_<%= row.id %>, {
            type: "radar",
            data: {
              labels: [
                "Anger",
                "Contempt",
                "Disgust",
                "Enjoyment",
                "Fear",
                "Sadness",
                "Surprise",
              ],
              datasets: [
                {
                  data: initialData_<%= row.id %>,
                  backgroundColor: ["#FFF17625"],
                  pointBackgroundColor: [
                    "yellow",
                    "aqua",
                    "pink",
                    "lightgreen",
                    "lightblue",
                    "gold",
                    "purple",
                  ],
                  borderColor: ["black"],
                  borderWidth: 1,
                  pointRadius: 6,
                },
              ],
            },
            options: {
              responsive: true,
              plugins: {
                legend: {
                  display: false,
                },
              },
              scale: {
                ticks: {
                  beginAtZero: true,
                },
                min: 0,
                max: 10,
              },
              elements: {
                line: {
                  borderWidth: 3,
                },
              },
            },
          });
        <% }); %>
      <% } else { %>
        console.log("No snapshots available."); // or handle it as needed
      <% } %>
    </script>
    <!-- prettier-ignore -->
    <script>
      function navigateToAddPage() {
        <% if (typeof user !== 'undefined' && user && user.name) { %>
          // Set the user.name in localStorage
          localStorage.setItem("username", "<%= user.name %>");

          // Navigate to the "/new" page
          window.location.href = "/new";
        <% } else { %>
          console.log("User is undefined or does not have a name."); // or handle it as needed
        <% } %>
      }
    </script>
    <!-- prettier-ignore -->
    <script>
      // Assume userRole is set somewhere in your code
      var userRole = 'user'; // replace this with actual user role
    
      if (userRole === 'administrator') {
        document.getElementById("updatedByDropdown").addEventListener("change", function() {
          var selectedUser = this.value;
          // Update the username in the heading
          document.getElementById("usernameDisplay").textContent = `Emotion Snapshots for: ${selectedUser}`;
          // TODO: Update the page with the filtered data
        });
      }
    </script>
    <!-- prettier-ignore -->
    <script>
      var userRole = 'user'; // replace this with actual user role

      if (userRole === 'administrator') {
        document.getElementById("updatedByDropdown").addEventListener("change", function () {
          var selectedUser = this.value;
          var rows = document.querySelectorAll("[data-updated-by]");
          rows.forEach((row) => {
            if (row.getAttribute("data-updated-by") == selectedUser) {
              row.style.display = "block";
            } else {
              row.style.display = "none";
            }
          });
        });
      }
    </script>
  </body>
</html>
